@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aprenda más <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h4>Estamos probando los commits</h4>
<h6>Parece que esta funcionando</h6>
<p>Algo esta saliendo bien</p>
<p>De a poco</p>
